@charset "utf-8";
@use "_variable";
@use "_color";



@mixin sound_only {
	display:block;
	position:absolute; top:-9999px;
	width:0; height:0;
	margin:0; padding:0;
	line-height:0; font-size:0; text-indent:-9999px;
}
@mixin clear {
	&:after {display: block; clear: both; content: "";}
}
@mixin lft {float:left;}
@mixin rgt {float:right;}
@mixin both {float:none; clear:both;}
@mixin ell {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}


// ios safe area
@mixin ios_safe_area($bottom:0px) {
	padding:0 0 calc(constant(safe-area-inset-bottom) + #{$bottom});
	padding:0 0 calc(env(safe-area-inset-bottom) + #{$bottom});
}


// icon ----------------------------------------------------------------------------------------------------------------
@mixin icon_arrow_left_white ($width:100%, $height:auto) {
	background-image:url('#{variable.$bg-icon}/icon_arrow_left_white.svg');
	background-size:$width, $height;
}
@mixin input_zoom_icon {
	padding-left:30px;
	background-image:url('#{variable.$bg-icon}/icon_zoom_black.svg');
	background-repeat:no-repeat;
	background-position:8px center;
}


// absolute center -----------------------------------------------------------------------------------------------------
@mixin absolute_center {
	position:absolute; left:50%; top:50%;
	transform:translate(-50%, -50%);
}


// text hide -----------------------------------------------------------------------------------------------------------
@mixin text_hide {
	font-size:0; text-indent:-9999px;
}


// placeholder ---------------------------------------------------------------------------------------------------------
@mixin placeholder($color:'#666') {
	&::-webkit-input-placeholder {font-family:"NanumSquare", sans-serif; color:$color;}
	&:-moz-placeholder {font-family:"NanumSquare", sans-serif; color:$color;}
	&::-moz-placeholder {font-family:"NanumSquare", sans-serif; color:$color;}
	&:-ms-input-placeholder {font-family:"NanumSquare", sans-serif; color:$color;}
}


// hamburger button ----------------------------------------------------------------------------------------------------
@mixin menuBtnRotate($step){
	-webkit-transform:rotate($step);
	-moz-transform:rotate($step);
	transform:rotate($step);
}
@mixin menuBtnApp($name, $speed, $delay){
	-webkit-animation:$name $speed linear;
	-moz-animation:$name $speed linear;
	animation:$name $speed linear;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	animation-delay:$delay;
}
@mixin menuBtnBefore($name, $p1, $p2, $step1, $step2, $step3, $step4, $speed, $delay){
	@keyframes #{$name}{
		0% {top:$p1; @include menuBtnRotate($step1);}
		45% {top:$p2; @include menuBtnRotate($step2);}
		75% {top:$p2; @include menuBtnRotate($step3);}
		to {top:$p2; @include menuBtnRotate($step4);}
	}
	@include menuBtnApp($name, $speed, $delay);
}
@mixin menuBtnAfter($name, $p1, $p2, $step1, $step2, $step3, $step4, $speed, $delay){
	@keyframes #{$name}{
		0% {bottom:$p1; @include menuBtnRotate($step1);}
		45% {bottom:$p2; @include menuBtnRotate($step2);}
		75% {bottom:$p2; @include menuBtnRotate($step3);}
		to {bottom:$p2; @include menuBtnRotate($step4);}
	}
	@include menuBtnApp($name, $speed, $delay);
}


//keyboard moving animation --------------------------------------------------------------------------------------------
@mixin keyboardApp($name, $speed){
	-webkit-animation:$name $speed ease-in-out infinite;
	-moz-animation:$name $speed ease-in-out infinite;
	animation:$name $speed ease-in-out infinite;
	//-webkit-animation-fill-mode:both;
	//animation-fill-mode:both;
	//animation-delay:$delay;
}
@mixin keyboardStep($name, $move, $speed){
	@keyframes #{$name}{
		0% {transform:translate(-50%, $move)}
		50% {transform:translate(-50%, -$move)}
		100% {transform:translate(-50%, $move)}
	}
	@include keyboardApp($name, $speed);
}


//keyboard background animation ----------------------------------------------------------------------------------------
@mixin keyboardBgApp($name, $speed, $delay){
	-webkit-animation:$name $speed $delay cubic-bezier(.4,.1,.09,.94) both;
	-moz-animation:$name $speed $delay cubic-bezier(.4,.1,.09,.94) both;
	animation:$name $speed $delay cubic-bezier(.4,.1,.09,.94) both;
}
@mixin keyboardBg($name, $speed, $delay){
	@keyframes #{$name}{
		//0% {transform:translate(-50%, -50%) scale(0, 0); opacity:0;}
		0% {transform:translate(-50%, -50%) scale(.7, .7); opacity:0;} // 0
		40% {transform:translate(-50%, -50%) scale(1.05, 1.05); opacity:1;}
		100% {transform:translate(-50%, -50%) scale(1, 1); opacity:1;}
	}
	@include keyboardBgApp($name, $speed, $delay);
}


// icon ----------------------------------------------------------------------------------------------------------------
@mixin icon_common($size) {
	background-size: $size $size;
	background-repeat: no-repeat;
	background-position: center center;
}
@mixin icon_window($size: 16px, $color: '000') {
	$bg-color: '%23' + $color;
	background-image: url("data:image/svg+xml,%3Csvg width='287' height='287' viewBox='0 0 287 287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_409_4123)'%3E%3Cpath d='M0 143.5V40.1083L119.583 23.9047V143.5H0V143.5ZM131.542 143.5H287V0L131.542 21.6087V143.5ZM119.583 155.458H0V246.892L119.583 263.095V155.458V155.458ZM131.542 155.458V265.403L287 287V155.458H131.542V155.458Z' fill='#{$bg-color}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_409_4123'%3E%3Crect width='287' height='287' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	@include icon_common($size);
}


// important font aize -------------------------------------------------------------------------------------------------
@mixin font_14 {
	font-size:14px;
	@media(max-width:variable.$screen-sm-max){
		font-size:13px;
	}
}
@mixin font_15 {
	font-size:15px;
	@media(max-width:variable.$screen-sm-max){
		font-size:14px;
	}
}
@mixin font_16 {
	font-size:16px;
	@media(max-width:variable.$screen-sm-max){
		font-size:15px;
	}
}
@mixin font_17 {
	font-size:17px;
	@media(max-width:variable.$screen-sm-max){
		font-size:16px;
	}
}
@mixin font_18 {
	font-size:18px;
	@media(max-width:variable.$screen-sm-max){
		font-size:16px;
	}
}
@mixin font_20 {
	font-size:20px;
	@media(max-width:variable.$screen-sm-max){
		font-size:18px;
	}
}
@mixin font_21 {
	font-size:21px;
	@media(max-width:variable.$screen-sm-max){
		font-size:18px;
	}
}
@mixin font_24 {
	font-size:24px;
	@media(max-width:variable.$screen-sm-max){
		font-size:20px;
	}
}

@mixin font_14_important {
	font-size:14px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:13px !important;
	}
}
@mixin font_15_important {
	font-size:15px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:14px !important;
	}
}
@mixin font_16_important {
	font-size:16px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:15px !important;
	}
}
@mixin font_17_important {
	font-size:17px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:16px !important;
	}
}
@mixin font_18_important {
	font-size:18px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:16px !important;
	}
}
@mixin font_20_important {
	font-size:20px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:18px !important;
	}
}
@mixin font_21_important {
	font-size:21px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:18px !important;
	}
}
@mixin font_24_important {
	font-size:24px !important;
	@media(max-width:variable.$screen-sm-max){
		font-size:20px !important;
	}
}

// 부모 타겟팅을 위한 믹스인 -------------------------------------------------------------------------------------------
@mixin parent($class) {
	@at-root {
		.#{$class} {
			@content;
		}
	}
}
