@charset "utf-8";
@use "_font";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin:0; padding:0; border:0; vertical-align:top; box-sizing:border-box; word-break:keep-all;}
*:before, *:after {box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
table {border-collapse:collapse; border-spacing:0;}
a {text-decoration:none;}
i, em ,address {font-style:normal;}
img {max-width:100%; height:auto; border:0; vertical-align:top;}
button {margin:0; padding:0; border:0; background:none; cursor:pointer; @include font.font-kr;}
textarea {vertical-align:top;}
/* 아이폰 가로모드 텍스트 크기 조정 */
* {-webkit-text-size-adjust:none}
/* 아이폰 라운드, 안쪽 그림자 제거 */
.device {
	//input, textarea {-webkit-border-radius:0; -webkit-appearance:none;}
}
/* common */
.ell {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
textarea, select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="submit"]
{
	border-radius:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:top;
	&::-ms-clear {display:none;}
}
/* input type="number" 증가/감소 버튼 숨김 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {-moz-appearance: textfield;}

caption,
.hide,
.sound_only {position:absolute; top:0; display:block; width:0; height:0; margin:0; padding:0; line-height:0; font-size:0; text-indent:-9999px;}

.clear {
	&:after {display: block; clear: both; content: "";}
}
.lft {float:left;}
.rgt {float:right;}
.both {float:none; clear:both;}
.ell {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
